/* :root {
  --dark: #1e2f42;
} */

body {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  height: 100%;
}

main {
  width: 70%;
  height: 100%;
  padding: 40px;
  /* box-sizing: border-box; */
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  background: linear-gradient(
      #00f5d4,
      #00bbf9,
      #fee440,
      #f15bb5,
      #9b5de5
    );

  width: auto;
  margin: 10;
  font-size: 64pt;
  text-align: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.title-saved-palette-container {
  padding-top: 30px;
}

h2 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 38pt;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background: linear-gradient(
      #00f5d4,
      #00bbf9,
      #fee440,
      #f15bb5,
      #9b5de5
    );
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.colours {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}

.colour {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 180px;
  border-radius: 12px;
  transition: 0.4s ease-out;
  border: dotted 4px grey;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  color: black;
  text-align: right;
  user-select: none;
  cursor: pointer;
  transition: .8s linear;
}

img {
  position: relative;
  height: auto;
  width: 40%;
}

input {
  position: relative;
  /* appearance: none; */
  width: 150%;
  height: 27px;
  padding: 1.4px;
  border: none;
  outline: none;
  color: black;
  text-align: center;
  font-size: 16pt;
  background: rgba(252, 252, 252, .5);
  z index: -1;
}

.colour-input {
  text-align: center;
}



.button-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: auto;
  padding: 80px;
  text-align: center;
}

.generator-button , .save-palette-button {
  background-color: seagreen;
  background-image: linear-gradient(-40deg, purple, blue,  lightyellow, lightblue, magenta, blueviolet, pink, lightgreen);
  padding: 18px;
  font-size: 20px;
  color: black;
  text-decoration: white;
  border-radius: 4px;
  height: auto;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.generator-button:hover {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  transition: .8s;
}

.save-palette-button:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  transition: .8s;
}

/* 👇🏼 Code for animation of paintbrush border */
.container{
  height: 350px;
  width: 350px;
  position: absolute;
  top: 20%;
  left: 67.03%;
  transform: translate(-50%, -50%);
}
.roller{
  height: 30px;
  width: 100px;
  border: 5px solid #040e15;
  border-radius: 7px;
  background: linear-gradient(
    darkcyan 80%,
    darkgrey
    );
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  animation: roller 10s infinite;
}
@keyframes roller {
  40%{
    top: 800px;
  }
}

.roller:before{
  position: absolute;
  content: "";
  background-color: rgba(255,255,255,0.7);
  height: 7px;
  width: 65px;
  top: 6px;
  left: 6px;
  border-radius: 10px;
}

.roller:after{
  position: absolute;
  content: "";
  height: 40px;
  width: 75px;
  border: 7px solid #040e15;
  border-left: none;
  right: -20px;
  top: 10px;
  z-index: -1;
  border-radius: 7px;
}
.handle{
  height: 30px;
  width: 7px;
  background-color: #040e15;
  position: absolute;
  top: 60px;
  right: 55px;
}
.handle:after{
  position: absolute;
  content: "";
  height: 75px;
  width: 25px;
  background-color: #040e15;
  bottom: -75px;
  right: -8px;
  border-radius: 5px;
}
.paint{
  background-color: darkcyan;
  height: 0;
  width: 90px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: -1;
  animation: paint 10s infinite;
}
@keyframes paint{
  40%{
    height: 800px;
  }
}

/* 👇🏼 Aside section with saved palettes */
aside {
  display: flex;
  flex-direction: column;
  border-left: solid darkcyan;
  border-width: 90px;
  width: 30%;
  height: auto;
  padding: 40px;
}

.trashBin {
  width: 10%;
  height: auto;
}
